*{
    margin:0;
    padding:0;
    box-sizing: none;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    padding-top: 10x;
    padding-left: 50px;
}

.navbar-nav li{
    font-size: 17px;
    padding-right:25px;
}

.carousel-caption{
    padding-bottom: 50px;
}

.carousel-caption h1{
    font-size: 700%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3{
    font-size: 200%;
    font-weight: 600;
    margin-bottom:15px;
    text-shadow: 1px 1px 10px #000;
}

.btn-primary{
    background-color: #6648B1;
    border: 1px solid #563D7C;
}

.btn-primary:hover{
    background-color: #5b33be;
    border: 1px solid #563D7C;
}

.jumbotron{
    background-color: #f8f1f1 !important; 
    padding:50px 20px 30px 40px;
}

.jumbotron p{
    font-size: 19px;
    text-align: justify;
}

.jumbotron button{
    text-align: center;
}

.welcome{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0px 20px 0px;
}

.welcome p{
    font-size: 18px;
}

.logo p{
    font-size: 15px;
}
/* Testimoni Dokter */

.doctor-said{
    margin-left: 2000px;
    padding-top: 20px;
    padding-bottom: 30px; 
}

.twocolumn p{
    text-align: justify;
}

footer{
    padding-top: 40px;
    background-color: antiquewhite;
}

footer hr{
    width:50%;
    margin:auto;
}

.leftpart{
    padding-top: 20px;
    padding-left: 0px;
}

.copyright{
    font-size: 14px;
}

.copyright hr{
    width: 92%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .jumbotron p{
        font-size: 16px;
    }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/